@model int
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order has been submitted</h1>
        <img src="~/images/" width="50%" />
    </div>
    <div class="col-12 text-center" style="color: maroon;">
        <br />
        We have received your request and your order will be processed. Thank you for using HomeCare!
        Our team of friendly and experienced experts will soon be in touch.
        <br />
        Your Order Number is: @Model
    </div>
</div>
